*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Estilos y fuentes generales */
:root{
    --charcoal:#264653;
    --persianGreen:#2A9D8F;
    --saffron:#E9C46A;
    --sandyBrown:#F4A261;
    --burntSienna:#E76F51;
}

html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}




/* Inicio del Header */

.header{
    width: 90vw;
    height: 20vh;
    border: 1px solid black;
    margin: auto;
    background: var(--charcoal);
}

.header h1{
    font-size: 150px;
    text-align: center;
    line-height: 170px;
    color: var(--burntSienna);
}

/* Final del Header */





/* Inicio del Masonry */

.grid-container{
    width: 1500px;
    height: 160vh;
    border: 1px solid black;
    margin: auto;

    display: grid;
    grid-template: repeat(10, 1fr) / repeat(6, 1fr)
}

.grid-container div{
    border: 1px solid black;
    transition: 300ms;
}

.grid-container div:hover{
    scale: 1.1;
}

.box1, .box5{
    grid-row: 1 / span 2;
    background: var(--persianGreen);
}

.box2, .box4{
    grid-row: 1 / span 3;
    background: var(--burntSienna);
}

.box3, .box6{
    grid-row: 1 / span 1;
    background: var(--saffron);
}

.box9, .box10{
    grid-row: 3 / span 2;
    background: var(--sandyBrown);
}

.box7, .box8{
    grid-row: 2 / span 3;
    background: var(--charcoal);
}

.box11, .box12{
    grid-row: 4 / span 2;
    background: var(--persianGreen);
}

.box13, .box14{
    grid-row: 5 / span 3;
    background: var(--saffron);
}

.box17, .box18{
    grid-row: 6 / span 4;
    background: var(--burntSienna);
}

.box15, .box16{
    grid-row: 5 / span 1;
    background: var(--charcoal);
}

.box19, .box{
    grid-row: 8 / span 3;
    background: var(--charcoal);
}

.box20{
    grid-row: 6 / span 1;
    background: var(--persianGreen);
}

.box23{
    grid-row: 8 / span 1;
    background: var(--charcoal);
}

.box21{
    grid-row: 6 / span 3;
    background: var(--sandyBrown);
}

.box24{
    grid-row: 7 / span 4;
    background: var(--charcoal);
}

.box22{
    grid-row: 9 / span 1;
    background: black;
}

.box26{
    grid-column: 2 / span 3;
    background: black;
}

.box25{
    grid-row: 9 / span 2;
    background: var(--saffron);
}

/* Final del Masonry */






/* Inicio del responsive */

@media only screen and (max-width: 1500px){
    .grid-container{
        width: 1200px;
    }
}

@media only screen and (max-width: 1215px){
    .grid-container{
        width: 800px;
    }

    .header h1{
        font-size: 100px;
    }
}

@media only screen and (max-width: 800px){
    .grid-container{
        width: 600px;

        grid-template: repeat(10, 1fr)  / repeat(4, 1fr)
    }

    .header h1{
        font-size: 75px;
    }
}

@media only screen and (max-width: 600px){
    .grid-container{
        width: 375px;

        grid-template: repeat(10, 1fr)  / repeat(2, 1fr)
    }

    .header h1{
        font-size: 55px;
    }
}

/* Final del responsive */